<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Heroes for Dota Main Profile</h1>
    <p>You should only play below Heroes from main <h3>Profile</h3></p>
    <ul>
      
      <li><span >Axe</span></li>
      <li><span >EarthShaker</span></li>
      <li><span >IO</span></li>
      <li><span >LegionCommander</span></li>
      <li><span >Lycan</span></li>
      <li><span >NightStalker</span></li>
      <li><span >Pudge</span></li>
      <li><span >SandKing</span></li>
      <li><span >SpiritBreaker</span></li>
      <li><span >Tusk</span></li>
      <li><span >Treant</span></li>
      <li><span >NyxAssasin</span></li>
      <li><span >Spectre</span></li>
      <li><span >Slark</span></li>
      <li><span >Riki</span></li>
      <li><span >PhantomLancer</span></li>
      <li><span >Lion</span></li>
      <li><span >Lich</span></li>
      <li><span >Warlock</span></li>
      <li><span >Keeperoflight</span></li>
    </ul>

  </body>
</html>
